@model DotNetCore.FantasyFootball.Web.ViewModels.FantasySiteViewModel


<div class="form-group">
    <label asp-for="TableXPath">Table X path</label>
    <input asp-for="TableXPath" type="text" class="form-control"/>
</div>

<h3>Name Field:</h3>
<div class="form-group">
    <label asp-for="NameCellXPath">Cell X path</label>
    <input asp-for="NameCellXPath" type="text" class="form-control" />
</div>

<div class="form-group">
    <label asp-for="NameIndexPosition">Index Position</label>
    <input asp-for="NameIndexPosition" type="text" class="form-control" />
</div>

<div class="form-group">
    <label asp-for="NameSplitOnValue">Split On Value</label>
    <input asp-for="NameSplitOnValue" type="text" class="form-control" />
</div>
