@model DotNetCore.FantasyFootball.Web.ViewModels.HomeViewModel

<div class="row">
    <div class="col-md-9">
        <h2>Application uses</h2>
        @Html.Partial("_FantasySite", Model.FantasySiteViewModel)
    </div>
</div>
