@model DotNetCore.FantasyFootball.Web.ViewModels.HomeViewModel
<div class="row">
    <div class="col-md-9 home">
        @using (Html.BeginForm())
        {
            <h2>Fantasy Site 1</h2>
            <div class="form-inline fantasy-site">

                <div class="form-group-sm">
                    <label asp-for="SiteUrl1">Site Url:</label>
                    <input asp-for="SiteUrl1" type="text" class="form-control" />
                </div>

                <div class="form-group-sm">
                    <label asp-for="TableXPath1">Table XPath:</label>
                    <input asp-for="TableXPath1" type="text" class="form-control" />
                </div>

                <h3>Name Field</h3>
                <div class="form-group-sm">
                    <label asp-for="NameCellXPath1">Cell XPath:</label>
                    <input asp-for="NameCellXPath1" type="text" class="form-control" />
                </div>
                <div class="form-group-sm">
                    <label asp-for="NameIndexPosition1">Index Position:</label>
                    <input asp-for="NameIndexPosition1" type="text" class="form-control" />
                </div>
                <div class="form-group-sm">
                    <label asp-for="NameSplitOnValue1">Split On Value:</label>
                    <input asp-for="NameSplitOnValue1" type="text" class="form-control" />
                </div>

                <h3>Rank Field</h3>
                <div class="form-group-sm">
                    <label asp-for="RankCellXPath1">Cell XPath:</label>
                    <input asp-for="RankCellXPath1" type="text" class="form-control" />
                </div>
                <div class="form-group-sm">
                    <label asp-for="RankIndexPosition1">Index Position:</label>
                    <input asp-for="RankIndexPosition1" type="text" class="form-control" />
                </div>
                <div class="form-group-sm">
                    <label asp-for="RankSplitOnValue1">Split On Value:</label>
                    <input asp-for="RankSplitOnValue1" type="text" class="form-control" />
                </div>

                <h3>Position Field</h3>
                <div class="form-group-sm">
                    <label asp-for="PositionCellXPath1">Cell XPath:</label>
                    <input asp-for="PositionCellXPath1" type="text" class="form-control" />
                </div>
                <div class="form-group-sm">
                    <label asp-for="PositionIndexPosition1">Index Position:</label>
                    <input asp-for="PositionIndexPosition1" type="text" class="form-control" />
                </div>
                <div class="form-group-sm">
                    <label asp-for="PositionSplitOnValue1">Split On Value:</label>
                    <input asp-for="PositionSplitOnValue1" type="text" class="form-control" />
                </div>
            </div>
            <h2>Fantasy Site 2</h2>
            <div class="form-inline fantasy-site">

                <div class="form-group-sm">
                    <label asp-for="SiteUrl2">Site Url:</label>
                    <input asp-for="SiteUrl2" type="text" class="form-control" />
                </div>

                <div class="form-group-sm">
                    <label asp-for="TableXPath2">Table XPath:</label>
                    <input asp-for="TableXPath2" type="text" class="form-control" />
                </div>

                <h3>Name Field</h3>
                <div class="form-group-sm">
                    <label asp-for="NameCellXPath2">Cell XPath:</label>
                    <input asp-for="NameCellXPath2" type="text" class="form-control" />
                </div>
                <div class="form-group-sm">
                    <label asp-for="NameIndexPosition2">Index Position:</label>
                    <input asp-for="NameIndexPosition2" type="text" class="form-control" />
                </div>
                <div class="form-group-sm">
                    <label asp-for="NameSplitOnValue2">Split On Value:</label>
                    <input asp-for="NameSplitOnValue2" type="text" class="form-control" />
                </div>

                <h3>Rank Field</h3>
                <div class="form-group-sm">
                    <label asp-for="RankCellXPath2">Cell XPath:</label>
                    <input asp-for="RankCellXPath2" type="text" class="form-control" />
                </div>
                <div class="form-group-sm">
                    <label asp-for="RankIndexPosition2">Index Position:</label>
                    <input asp-for="RankIndexPosition2" type="text" class="form-control" />
                </div>
                <div class="form-group-sm">
                    <label asp-for="RankSplitOnValue2">Split On Value:</label>
                    <input asp-for="RankSplitOnValue2" type="text" class="form-control" />
                </div>

                <h3>Position Field</h3>
                <div class="form-group-sm">
                    <label asp-for="PositionCellXPath2">Cell XPath:</label>
                    <input asp-for="PositionCellXPath2" type="text" class="form-control" />
                </div>
                <div class="form-group-sm">
                    <label asp-for="PositionIndexPosition2">Index Position:</label>
                    <input asp-for="PositionIndexPosition2" type="text" class="form-control" />
                </div>
                <div class="form-group-sm">
                    <label asp-for="PositionSplitOnValue2">Split On Value:</label>
                    <input asp-for="PositionSplitOnValue2" type="text" class="form-control" />
                </div>
            </div>

            <input type="submit" class="btn btn-primary" value="Submit" />
        }
    </div>
</div>